<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanuman:wght@700&display=swap" rel="stylesheet">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Mr Hair | Home</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/MrHairLogo.jpg">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

    <style>
        div {
            text-align: center;
        }

        body {
            font-family: 'Hanuman', serif;
        }

        .centerHori {
            width: 100%;
            height: 80px;
            margin: auto;
            padding-top: 10px;
        }

        .centerHo {
            width: 270px;
            height: 80px;
            margin: auto;
        }

        .centerHori1 {
            width: 100%;
            height: 65px;
            margin: auto;
            padding-top: 0px;
        }

        .centerHo1 {
            width: 310px;
            height: 65px;
            margin: auto;
        }
    </style>

</head>

<body>
    <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type your keyword...">
                            <button type="submit"><img src="img/core-img/search.png" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="index.html"><img src="img/MrHairLogo.jpg" alt=""></a>
            </div>
            <!-- Navbar Toggler -->

            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="index.html"><img src="img/MrHairLogo.jpg" alt=""></a>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <!-- <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="shop.html">Shop</a></li>
                    <li><a href="product-details.html">Product</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li> -->

                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="index.html">Shop</a></li>
                    <li><a href="index.html">Product</a></li>
                    <li><a href="index.html">Cart</a></li>
                    <li><a href="index.html">Checkout</a></li>

                </ul>
            </nav>

        </header>
        <!-- Header Area End -->


        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">



            <div class="centerHori">

                <div class="centerHo">

                    <a href="https://m.me/mrhairbynongkim">
                        <img src="img/facebook.png" alt="" width="60px" height="70px" style="padding-left: 5px">
                    </a>
                    <a href="https://t.me/factorythailand">
                        <img src="img/telegram.png" alt="" width="60px" height="70px" style="padding-left: 5px">
                    </a>

                    <a href="https://www.tiktok.com/@beshop1686">
                        <img src="img/tiktok.png" alt="" width="60px" height="70px" style="padding-left: 5px">
                    </a>
                    <a href="tel:+85577223361">
                        <img src="img/viber.png" alt="" width="60px" height="70px" style="padding-left: 5px">
                    </a>
                </div>

            </div>

            <div class="centerHori1">

                <div class="centerHo1">

                    <b>សំរាប់ការកុម្ម៉ងទិញតាមផេគ <a href="https://m.me/mrhairbynongkim"
                            style="color: #422dff; font-size: 16px;">ចុចទីនេះ</a>
                        <br>
                        ឬអាចទំនាក់ទំនងតាមលេខទូរស័ព្ទ <a href="tel:+85577223361"
                            style="color: #089608; font-size: 16px;">077223361</a></b>
                </div>

            </div>


            <div class="amado-pro-catagory clearfix">
                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <img src="img/photo_0.JPG" alt="">
                    <!-- Hover Content -->
                    <!-- <div class="hover-content">
                            <div class="line"></div>
                            <p>From $180</p>
                            <h4>Modern Chair</h4>
                        </div> -->
                </div>

                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>


                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <img src="img/photo_1.JPG" alt="">
                    <!-- Hover Content -->
                    <!-- <div class="hover-content">
                            <div class="line"></div>
                            <p>From $180</p>
                            <h4>Minimalistic Plant Pot</h4>
                        </div> -->
                </div>

                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <img src="img/photo_2.JPG" alt="">
                    <!-- Hover Content -->
                    <!-- <div class="hover-content">
                            <div class="line"></div>
                            <p>From $180</p>
                            <h4>Modern Chair</h4>
                        </div> -->
                </div>

                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <img src="img/photo_3.JPG" alt="">
                    <!-- Hover Content -->
                    <!-- <div class="hover-content">
                                            <div class="line"></div>
                                            <p>From $18</p>
                                            <h4>Plant Pot</h4>
                                        </div> -->
                </div>

                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <img src="img/photo_4.JPG" alt="">
                    <!-- Hover Content -->
                    <!-- <div class="hover-content">
                            <div class="line"></div>
                            <p>From $18</p>
                            <h4>Plant Pot</h4>
                        </div> -->
                </div>



                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <img src="img/photo_5.JPG" alt="">
                    <!-- Hover Content -->
                    <!-- <div class="hover-content">
                            <div class="line"></div>
                            <p>From $320</p>
                            <h4>Small Table</h4>
                        </div> -->
                </div>


                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <img src="img/photo_6.JPG" alt="">
                    <!-- Hover Content -->
                    <!-- <div class="hover-content">
                                            <div class="line"></div>
                                            <p>From $18</p>
                                            <h4>Plant Pot</h4>
                                        </div> -->
                </div>

                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>



                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">

                    <img src="img/photo_7.JPG" alt="">
                    <!-- Hover Content -->
                    <!-- <div class="hover-content">
                            <div class="line"></div>
                            <p>From $318</p>
                            <h4>Modern Rocking Chair</h4>
                        </div> -->

                </div>

                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>


                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <img src="img/photo_8.JPG" alt="">

                </div>
                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <div class="single-products-catagory clearfix">

                    <img src="img/photo_9.JPG" alt="">
                </div>

                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <div class="single-products-catagory clearfix">

                    <img src="img/photo_10.JPG" alt="">
                </div>

                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <div class="single-products-catagory clearfix">

                    <img src="img/photo_11.JPG" alt="">

                </div>

                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <div class="single-products-catagory clearfix">
                    <img src="img/photo_12.JPG" alt="">
                </div>

                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <div class="single-products-catagory clearfix">
                    <img src="img/photo_13.JPG" alt="">

                </div>

                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <div class="single-products-catagory clearfix">
                    <img src="img/photo_14.JPG" alt="">
                </div>

                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <div class="single-products-catagory clearfix">

                    <img src="img/photo_15.JPG" alt="">
                </div>

                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <div class="single-products-catagory clearfix">
                    <img src="img/photo_16.JPG" alt="">
                </div>

                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <div class="single-products-catagory clearfix">
                    <img src="img/photo_17.JPG" alt="">
                </div>

                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <div class="single-products-catagory clearfix">
                    <img src="img/photo_18.JPG" alt="">
                </div>

                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <div class="single-products-catagory clearfix">
                    <img src="img/photo_19.JPG" alt="">
                </div>


                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>
                <div class="single-products-catagory clearfix">
                    <img src="img/photo_20.JPG" alt="">
                </div>
                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <div class="single-products-catagory clearfix">
                    <img src="img/photo_21.JPG" alt="">
                </div>
                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <div class="single-products-catagory clearfix">
                    <img src="img/photo_22.JPG" alt="">
                </div>
                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <div class="single-products-catagory clearfix">
                    <img src="img/photo_23.JPG" alt="">
                </div>
                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <div class="single-products-catagory clearfix">
                    <img src="img/photo_24.JPG" alt="">
                </div>
                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>

                <div class="single-products-catagory clearfix">
                    <img src="img/photo_25.JPG" alt="">
                </div>
                <!-- space -->
                <div class="single-products-catagory clearfix">
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <!-- Product Catagories Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Newsletter Area Start ##### -->

    <!-- ##### Newsletter Area End ##### -->

    <!-- ##### Footer Area Start ##### -->

    <!-- ##### Footer Area End ##### -->

    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>